<style>
.wide {
    width: 1152px;
    height: 480px;
}
.smol {
    margin: -10px;
}
.smol-btn {
    width: 100px;
    height: 7px;
}
</style>

<div class="rounded-box border bg-base-100 wide">

<div class="navbar shadow-sm">
<div class="navbar-start">
<p></p>
</div>
<div class="navbar-center">
    <h1>Absent Student Logs</h1>
</div>
<div class="navbar-end">
    <a href="{% url 'student-attendance' %}" class="btn btn-primary">Add Grade Entry</a>
    <hr>
</div>
</div>


<div class="overflow-x-auto">
    <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    {% comment %} <th>User</th> {% endcomment %}
                    <th>Date</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for att in pnation_attend %}
                    <td>{{ att.attendance_date }}</td>
                    <td>{{ att.student }}</td>
                    <td>{{ att.attendance_type }}</td>
                    <td>{{ att.notes }}</td>
                    {% comment %} <td><a href="{% url 'ge-edit' ahead.id %}" class="btn btn-primary smol smol-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
</svg>Edit</a></td>
                    <td><a href="{% url 'ge-delete' ahead.id %}" class="btn btn-danger smol smol-btn"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg>Delete</a></td> {% endcomment %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
        </div>
                <div class="card-actions justify-center" style="margin-center: 10px;">
        <table>
        <div class="join">
        <tr>
        <td>
        {% if pnation_attend.has_previous %}
        <a class="join-item btn" href="?page=1"><<</a>
        <a class="join-item btn" href="?page={{ pnation_attend.previous_page_number }}"><</a>
        {% endif %}
        </td>
        <td>
        <h4>Page {{ pnation_attend.number }} of {{ pnation_attend.paginator.num_pages }}</h4>
        </td>

        <td>
        {% if pnation_attend.has_next %}
        <a class="join-item btn" href="?page={{ pnation_attend.next_page_number }}">></a>

        <a class="join-item btn" href="?page={{ pnation_attend.paginator.num_pages }}">>></a>
        {% endif %}
        </td>
        </tr>
        
       </div>
       </table>
       </div>

