{% extends 'base.html' %}

{% block content %}
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>


<form id="id_password_change_form" method="POST" class="form-signin">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal text-xl">Change password</h1>
<div class="card shadow-lg bg-base-100">
    <div class="card-body mb-4">
        <label class="input input-bordered flex items-center gap-2 mb-4">
            <input name="old_password" class="grow" placeholder="Old password" type="password" id="id_old_password" required="true">
        </label>
        <label class="input input-bordered flex items-center gap-2 mb-4">
            <input name="new_password1" class="grow" placeholder="New password" type="password" id="id_new_password1" required="true">
        </label>
        <label class="input input-bordered flex items-center gap-2 mb-4">
            <input name="new_password2" class="grow" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
        </label>
    </div>


    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
<div class="form-control">
  <button id="id_submit_btn" class="btn btn-primary" type="submit">Update</button>
</div>
</form>
</div>

{% endblock %}






