{% extends "base_admission.html" %}
{% block title %}
    SIS - Admission
{% endblock %}
{% block app_name %}App Header goes here{% endblock %}
{% block content %}

        
    <div class="responsive">
        {% if user.is_authenticated %}
            <h1 style="font-size: 1.5em;"><strong>Hello, {{ user.first_name }} {{ user.last_name }} ({{ user.username }})</strong></h1>
        {% else %}
            &nbsp;
        {% endif %}
        <div class="mb-4">
            <div class="card bg-base-100">
                <h1 style="font-size: 1.5em; text-align: center;"><strong>Total Students From Across The Schools</strong></h1>
                <h1 style="font-size: 2.5em; text-align: center;">{{ student_count }}</h1>
            </div>
            <div class="flex-1 card card-compact bg-base-100 shadow-md p-4 mb-4">
    <div class="collapse-title text-xl font-medium">Announcements</div>

    {% if announcements %}
        {% for announcement in announcements %}
        <div class="card bg-base-200 shadow-sm p-4 mb-3 rounded-lg">
            <div class="flex mb-4">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle m-1">
                        <i class="fa-regular fa-user text-lg"></i>
                    </div>
                <div class="flex p-4 mb-3">
                    <strong>{{ announcement.author }}</strong>
                    </div>
            </div>
            <div class="flex justify-between items-start">
                <h1 class="font-bold text-xl">{{ announcement.title }}</h1>
                <span class="text-xs text-base-content/50">{{ announcement.created_at|date:"d M Y" }}</span>
            </div>
            <p class="text-md mt-2">{{ announcement.body|linebreaksbr }}</p>
<!--            <div class="text-xs text-base-content/40 mt-3">-->
<!--                Posted by {{ announcement.author }}-->
<!--            </div>-->
        </div>
        {% endfor %}
    {% else %}
        <div class="text-center text-base-content/50 py-10">
            No announcements yet.
        </div>
    {% endif %}
</div>
        </div>
    </div>
{% endblock %}