{% extends "base_gradebook.html" %}
{% block content %}

<div class="flex-1 card card-compact bg-base-100 shadow-md p-4 mb-4">
<div>
<div class="collapse-title text-xl font-medium">Student Attendance</div>
</div>
<fieldset class="flex-1 mb-3 collapse-content overflow-hidden ltr:!rounded-tl-none rtl:!rounded-tr-none collapse w-full collapse-arrow overflow-visible fieldset card bg-base-100 p-1" style="width: 100%; height: auto;">

 {% comment %} <div class="card-body bg-secondary bg-opacity-3" style="width: 600px;"> {% endcomment %}
 
                        <form method="post" enctype="multipart/form-data" style="padding: 20px; width: 100%; height: auto;">
                            {% csrf_token %}

                            {% for field in teach_form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.help_text %}
                                <div class="form-text">{{ field.help_text }}</div>
                                {% endif %}
                                {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                                {% endif %}
                            {% endfor %}
                            
                            {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.help_text %}
                                <div class="form-text">{{ field.help_text }}</div>
                                {% endif %}
                                {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                                {% endif %}
                                
                            </div>
                            {% endfor %}
                            
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-secondary">Save</button>
                            </div>
                        </form>
                    {% comment %} </div> {% endcomment %}
                    </fieldset>

{% endblock %}