{% extends "base_gradebook.html" %}
{% block content %}

<div class="flex-1 card card-compact bg-base-100 shadow-md p-4 mb-4">

    <div>
        <div class="collapse-title text-xl font-medium">
            Student Attendance
        </div>
    </div>

    <div class="card-body bg-base-100 border-base-200">

        <fieldset class="module aligned mb-4 overflow-visible">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in teach_form %}
                <div class="form-row flex flex-wrap justify-start gap-4 mb-3">
                    <div class="mb-1 basis-full md:flex-1">
                        {{ field.label }}
                        {{ field }}

                        {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}

                        <div class="error">
                            {{ field.errors }}
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for field in form %}
                <div class="form-row flex flex-wrap justify-start gap-4 mb-3">
                    <div class="mb-1 basis-full md:flex-1">
                        {{ field.label }}
                        {{ field }}

                        {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}

                        <div class="error">
                            {{ field.errors }}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">
                    Submit
                </button>

            </form>

        </fieldset>

    </div>

</div>

{% endblock %}