{% extends "base_gradebook.html" %}

{% block content %}

<style>
.wide {
    width: 100%;
    height: 450px;
}
.smol {
    margin-top: -10px;
    margin-bottom: -10px;
}
.smol-btn {
    width: 47px;
    height: 0.5rem;
}
</style>

<div class="flex-1 card card-compact bg-base-100 shadow-md p-4 mb-4">

<div class="navbar">
<div class="navbar-start">
<p></p>
</div>
<div class="navbar-center">
    <h1 style="font-size: 30px">Teacher's Notes Logs</h1>
</div>
<div class="navbar-end">
    <a href="{% url 'report-card' %}" class="btn primary-content btn-sm btn-primary "><i class="fa fa-plus"></i>Add Teacher's Notes</a>
    <hr>
</div>
</div>


<div class="card-body px-3 py-1 w-full">
    <div class="overflow-auto max-h-[60vh]">
        <table class="table table-sm border border-base-200 table-hover">
            <thead class="bg-base-300 text-gray-950">
                <tr>
                    {% comment %} <th>User</th> {% endcomment %}
                    <th>Academic year</th>
                    <th>Period</th>
                    <th>Level</th>
                    <th>Student</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for strepc in pnation_src %}
                <tr class="hover:bg-base-300" onclick="window.location.href='{% url 'tc-edit' strepc.id %}'" style="cursor: pointer;">
                    <td>{{ strepc.academic_year }}</td>
                    <td>{{ strepc.period }}</td>
                    <td>{{ strepc.level }}</td>
                    <td>{{ strepc.student }}</td>
                    {% comment %} <td><a href="{% url 'tc-edit' strepc.id %}" class="btn btn-primary smol smol-btn" title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
</svg></a>&nbsp {% endcomment %}
<td><a href="{% url 'tc-del' strepc.id %}" class="smol smol-btn" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ad0000" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
        </div>
        <div class="card-actions justify-center" style="margin-center: 10px;">
        <table>
        <div class="join">
        <tr>
        <td>
        {% if pnation_src.has_previous %}
        <a class="join-item btn" href="?page=1"><<</a>
        <a class="join-item btn" href="?page={{ pnation_src.previous_page_number }}"><</a>
        {% endif %}
        </td>
        <td>
        <h4>Page {{ pnation_src.number }} of {{ pnation_src.paginator.num_pages }}</h4>
        </td>

        <td>
        {% if pnation_src.has_next %}
        <a class="join-item btn" href="?page={{ pnation_src.next_page_number }}">></a>

        <a class="join-item btn" href="?page={{ pnation_src.paginator.num_pages }}">>></a>
        {% endif %}
        </td>
        </tr>
        
       </div>
       </table>
       </div>



{% endblock %}