{% extends "base_gradebook.html" %}

{% block content %}

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="main-content h-full max-md:p-3 p-5 pt-2 pb-0">
                <div class="card bg-base-100 shadow-md lg:p-6 p-3">
                    <div class="card-header">
                        <h2 class="mb-0">Add Extra Report</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" class="mt-4">
                            {% csrf_token %}
                            {{ wizard.management_form }}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <ul class="mb-0">
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            

                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">
                            {% if form_step == "0" %}
                                Next
                            {% else %}
                            Submit</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}