{% extends "base_gradebook.html" %}

{% block content %}
<div class="flex-1 card card-compact bg-base-100 shadow-md p-4 mb-4">
    <div class="collapse-title text-xl font-medium">Edit Student Behaviour Grades</div>

    <div class="flex gap-6 mb-6 text-sm bg-base-200 p-3 rounded-lg">
        <div><strong>Student:</strong> {{ student }}</div>
        <div><strong>Homeroom Class:</strong> {{ student_class.kelas }}</div>
        <div><strong>Academic Year:</strong> {{ behaviour.academic_year }}</div>
        <div><strong>Period:</strong> {{ behaviour.period }}</div>
        <div><strong>Mid Term:</strong> {{ behaviour.is_mid|yesno:"Yes,No" }}</div>
        <div><strong>Level:</strong> {{ behaviour.level }}</div>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="table-responsive">
            <table class="table table-hover table-bordered align-middle">
                <thead class="bg-base-200">
                    <tr>
<!--                        <th>Student</th>-->
                        <th>Rubric</th>
                        <th style="width: 15%;">Score</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form, instance in rows %}
                    <tr>
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
<!--                        <td>{{ instance.student }}</td>-->
                        <td>{{ instance.rubric }}</td>
                        <td>{{ form.score }}</td>
                        <td>{{ form.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

<div class="w-full z-20 border-t border-base-300 sticky max-lg:fixed max-lg:-mx-3 bottom-0 lg:top-3 lg:bottom-auto">
    <div class="p-3 bg-base-100 justify-between flex flex-row-reverse gap-15">
        <div class="text-start flex gap-2">
            <button type="submit" class="btn-sm btn-primary px-4 primary-content btn rounded-md legitRipple">
                Save
                <i class="fas fa-save px-1"></i>
            </button>
            <a href="{% url 'rubric-pdf' behaviour.id %}?student={{ student.id }}"
               class="btn-sm bg-blue-300 text-black btn rounded-md legitRipple">
                Print PDF
                <i class="fa fa-file-pdf px-1"></i>
            </a>
        </div>
        <div class="text-end">
            <a href="{% url 'rubric-table' %}"
               class="btn-sm btn-block mt-1 btn rounded-md place-self-end closelink">
                Cancel
            </a>
        </div>
    </div>
</div>
    </form>
</div>
{% endblock %}