/.django_sis
/djweb
/old_djangoschool
admission/migrations
admission/migrations/__pycache__/
gradebook/migrations
gradebook/migrations/__pycache__/
*.pyc
admission/migrations/__pycache__/__init__.cpython-313.pyc
admission/migrations/__pycache__/0001_initial.cpython-313.pyc
admission/migrations/__pycache__/0002_alter_classmember_na_date.cpython-313.pyc
admission/migrations/__pycache__/0003_alter_class_name.cpython-313.pyc
admission/migrations/__pycache__/0004_rename_is_homeclass_class_is_home_class_and_more.cpython-313.pyc
admission/migrations/__pycache__/0005_rename_detailed_info_student_registration_data_and_more.cpython-313.pyc
admission/migrations/__pycache__/0006_alter_registration_form_no_alter_student_id_number_and_more.cpython-313.pyc
admission/migrations/__pycache__/0007_alter_student_registration_data.cpython-313.pyc
admission/migrations/__pycache__/0008_classmember_unique_class_members.cpython-313.pyc
admission/migrations/__pycache__/0009_schooldata_schoollevel.cpython-313.pyc
admission/migrations/__pycache__/0010_schoollevel_short_name.cpython-313.pyc
admission/migrations/__pycache__/0011_headmaster.cpython-313.pyc
admission/migrations/__pycache__/0012_teacher_user_id.cpython-313.pyc
admission/migrations/__pycache__/0013_remove_classmember_unique_class_members_and_more.cpython-313.pyc
admission/migrations/__pycache__/0014_religion_remove_registration_address_and_more.cpython-313.pyc
gradebook/__pycache__/forms.cpython-313.pyc
gradebook/__pycache__/urls.cpython-313.pyc
gradebook/__pycache__/views.cpython-313.pyc
gradebook/migrations/__pycache__/__init__.cpython-313.pyc
gradebook/migrations/__pycache__/0001_initial.cpython-313.pyc
gradebook/migrations/__pycache__/0002_course_coursemember.cpython-313.pyc
gradebook/migrations/__pycache__/0003_alter_course_name.cpython-313.pyc
gradebook/migrations/__pycache__/0004_rename_shortname_course_short_name.cpython-313.pyc
gradebook/migrations/__pycache__/0005_assignmenttype_alter_subject_subject_name_weighting.cpython-313.pyc
gradebook/migrations/__pycache__/0006_rename_year_weighting_academic_year.cpython-313.pyc
gradebook/migrations/__pycache__/0007_weighting_level_id_passinggrade.cpython-313.pyc
gradebook/migrations/__pycache__/0008_gradeentry.cpython-313.pyc
gradebook/migrations/__pycache__/0009_remove_passinggrade_unique_passing_grades_and_more.cpython-313.pyc
gradebook/migrations/__pycache__/0010_gradeentry_school_level_assignmenthead_and_more.cpython-313.pyc
gradebook/migrations/__pycache__/0011_alter_subject_short_name.cpython-313.pyc
